<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
   <profiles>
      <profile>
         <id>jboss-repo</id>
         <repositories>
            <repository>
               <id>jboss.com</id>
               <url>http://repository.jboss.com/maven2</url>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>jboss.com</id>
               <url>http://repository.jboss.com/maven2</url>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>exo-repo</id>
         <repositories>
            <repository>
               <id>exo-int</id>
               <name>exoplatform.org internal repository</name>
               <url>http://maven2.exoplatform.org/rest/maven2</url>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>exo-int</id>
               <name>exoplatform.org internal repository</name>
               <url>http://maven2.exoplatform.org/rest/maven2</url>
            </pluginRepository>
         </pluginRepositories>
      </profile>
      <profile>
         <id>externals-repo</id>
         <repositories>
            <repository>
               <id>repo.jfrog.org-releases</id>
               <name>repo.jfrog.org-releases</name>
               <url>http://repo.jfrog.org/artifactory/plugins-releases-local</url>
            </repository>
            <repository>
               <id>download.java.net</id>
               <name>download.java.net repository</name>
               <url>http://download.java.net/maven/2</url>
            </repository>
            <repository>
               <id>mc-release</id>
               <name>Local Maven repository of releases</name>
               <url>http://mc-repo.googlecode.com/svn/maven2/releases</url>
            </repository>
         </repositories>
         <pluginRepositories>
            <pluginRepository>
               <id>repo.jfrog.org-releases</id>
               <name>repo.jfrog.org-releases</name>
               <url>http://repo.jfrog.org/artifactory/plugins-releases-local</url>
            </pluginRepository>
            <pluginRepository>
               <id>download.java.net</id>
               <name>download.java.net repository</name>
               <url>http://download.java.net/maven/2</url>
            </pluginRepository>
            <pluginRepository>
               <id>mc-release</id>
               <name>Local Maven repository of releases</name>
               <url>http://mc-repo.googlecode.com/svn/maven2/releases</url>
            </pluginRepository>
         </pluginRepositories>
      </profile>
   </profiles>
   <activeProfiles>
      <activeProfile>jboss-repo</activeProfile>
      <activeProfile>exo-repo</activeProfile>
      <activeProfile>externals-repo</activeProfile>
   </activeProfiles>
</settings>